<footer id="footer">
    <div class="container">
      <div class="copyright">
        © Copyright <strong><span>Decent</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <style>
      footer{
        padding: 30px 0;
        color: #222222;
        font-size: 14px;
        text-align: center;
        margin-top: 2em;
      }
  </style>